:root {
    --black: #111111;
    --grey: #333333;
    --purple: #47174b;
    color-scheme: dark;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
header {
    background-color: var(--purple);
}
header {
    border-radius: 0.25em;
    height: 120px;
    align-items: center;
    text-align: center;
    margin: 0px;
    top: 0;
    position: relative;
}